@font-face {
  font-family: 'LatoBlack';
  src: font-url('Lato-Black.eot');
  src: font-url('Lato-Black.eot?#iefix') format('embedded-opentype'),
  font-url('Lato-Black.woff2') format('woff2'),
  font-url('Lato-Black.woff') format('woff'),
  font-url('Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
//
//@font-face {
//  font-family: 'LatoBlack';
//  src: font-url('Lato-BlackItalic.eot');
//  src: font-url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-BlackItalic.woff2') format('woff2'),
//  font-url('Lato-BlackItalic.woff') format('woff'),
//  font-url('Lato-BlackItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoBold';
//  src: font-url('Lato-Bold.eot');
//  src: font-url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-Bold.woff2') format('woff2'),
//  font-url('Lato-Bold.woff') format('woff'),
//  font-url('Lato-Bold.ttf') format('truetype');
//  font-style: normal;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoBold';
//  src: font-url('Lato-BoldItalic.eot');
//  src: font-url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-BoldItalic.woff2') format('woff2'),
//  font-url('Lato-BoldItalic.woff') format('woff'),
//  font-url('Lato-BoldItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoHairline';
//  src: font-url('Lato-Hairline.eot');
//  src: font-url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-Hairline.woff2') format('woff2'),
//  font-url('Lato-Hairline.woff') format('woff'),
//  font-url('Lato-Hairline.ttf') format('truetype');
//  font-style: normal;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoHairline';
//  src: font-url('Lato-HairlineItalic.eot');
//  src: font-url('Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-HairlineItalic.woff2') format('woff2'),
//  font-url('Lato-HairlineItalic.woff') format('woff'),
//  font-url('Lato-HairlineItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoHeavy';
//  src: font-url('Lato-Heavy.eot');
//  src: font-url('Lato-Heavy.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-Heavy.woff2') format('woff2'),
//  font-url('Lato-Heavy.woff') format('woff'),
//  font-url('Lato-Heavy.ttf') format('truetype');
//  font-style: normal;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoHeavy';
//  src: font-url('Lato-HeavyItalic.eot');
//  src: font-url('Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-HeavyItalic.woff2') format('woff2'),
//  font-url('Lato-HeavyItalic.woff') format('woff'),
//  font-url('Lato-HeavyItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'Lato';
//  src: font-url('Lato-Italic.eot');
//  src: font-url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-Italic.woff2') format('woff2'),
//  font-url('Lato-Italic.woff') format('woff'),
//  font-url('Lato-Italic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
@font-face {
  font-family: 'LatoLight';
  src: font-url('Lato-Light.eot');
  src: font-url('Lato-Light.eot?#iefix') format('embedded-opentype'),
  font-url('Lato-Light.woff2') format('woff2'),
  font-url('Lato-Light.woff') format('woff'),
  font-url('Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
//
//@font-face {
//  font-family: 'LatoLight';
//  src: font-url('Lato-LightItalic.eot');
//  src: font-url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-LightItalic.woff2') format('woff2'),
//  font-url('Lato-LightItalic.woff') format('woff'),
//  font-url('Lato-LightItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoMedium';
//  src: font-url('Lato-Medium.eot');
//  src: font-url('Lato-Medium.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-Medium.woff2') format('woff2'),
//  font-url('Lato-Medium.woff') format('woff'),
//  font-url('Lato-Medium.ttf') format('truetype');
//  font-style: normal;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoMedium';
//  src: font-url('Lato-MediumItalic.eot');
//  src: font-url('Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-MediumItalic.woff2') format('woff2'),
//  font-url('Lato-MediumItalic.woff') format('woff'),
//  font-url('Lato-MediumItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
@font-face {
  font-family: 'Lato';
  src: font-url('Lato-Regular.eot');
  src: font-url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('Lato-Regular.woff2') format('woff2'),
  font-url('Lato-Regular.woff') format('woff'),
  font-url('Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
//
//@font-face {
//  font-family: 'LatoSemibold';
//  src: font-url('Lato-Semibold.eot');
//  src: font-url('Lato-Semibold.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-Semibold.woff2') format('woff2'),
//  font-url('Lato-Semibold.woff') format('woff'),
//  font-url('Lato-Semibold.ttf') format('truetype');
//  font-style: normal;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
//@font-face {
//  font-family: 'LatoSemibold';
//  src: font-url('Lato-SemiboldItalic.eot');
//  src: font-url('Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-SemiboldItalic.woff2') format('woff2'),
//  font-url('Lato-SemiboldItalic.woff') format('woff'),
//  font-url('Lato-SemiboldItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
//
@font-face {
  font-family: 'LatoThin';
  src: font-url('Lato-Thin.eot');
  src: font-url('Lato-Thin.eot?#iefix') format('embedded-opentype'),
  font-url('Lato-Thin.woff2') format('woff2'),
  font-url('Lato-Thin.woff') format('woff'),
  font-url('Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
//
//@font-face {
//  font-family: 'LatoThin';
//  src: font-url('Lato-ThinItalic.eot');
//  src: font-url('Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
//  font-url('Lato-ThinItalic.woff2') format('woff2'),
//  font-url('Lato-ThinItalic.woff') format('woff'),
//  font-url('Lato-ThinItalic.ttf') format('truetype');
//  font-style: italic;
//  font-weight: normal;
//  text-rendering: optimizeLegibility;
//}
